:root {
  --pixel-size-skew: 24px;
  --pixel-guide-size: calc(var(--pixel-size-skew) - 2px);
  --pixel-art-height: 16;
  --pixel-art-width: 16;
}

body {
  height: max-content;
  margin: 0;
}

/*
  Class Styles
*/

.lr-centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*
  ID Styles
*/
#control-head {
  height: 3vh;
}

#trifold-holder {
  display: flex;
  flex-direction: row;
  height: 97vh;
}

#color-section {
  flex: 1;
  background-color: aquamarine;
}

#art-section {
  background-image: url(Transparency.png);
  background-repeat: repeat;
  position: relative;
  flex: 3;
}

#canvas-holder {
  /*Location Styles*/
  position: absolute;
  top: 15px;
  left: 15px;

  /*Size Styles*/
  width: calc(var(--pixel-size-skew) * var(--pixel-art-width));
  height: calc(var(--pixel-size-skew) * var(--pixel-art-height));
}

#pixel-canvas {
  width: inherit;
  height: inherit;
  background-color: white;
}

#pixel-guide {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--pixel-guide-size);
  height: var(--pixel-guide-size);
  border: 1px solid rgba(255, 0, 0, 0.5);
}

#tileset-section {
  flex: 1;
  background-color: darksalmon;
}
