/*Classes*/
.color-picker {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: cadetblue;
  z-index: 999;
  display: none;
}

.color-picker::after {
  content: " ";
  position: absolute;
  right: 30px;
  top: -15px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid black;
}

/*IDs*/
#color-holder-container{
  display: none;
}