/*IDs*/
#color-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: grey;
}

#add-color-palette-button {
  float: right;
}

#color-palette-holder {
    overflow-y: scroll;
    height: 100%;
}

/*Classes*/
.color-palette-box {
  background-color: coral;
  height: 80px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 4px;
  border-radius: 5px;
  border-style: solid;
  border-color: aliceblue;
}

.color-button-holder {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.color-palette-name {
  flex: 1;
}

.color-palette-grid {
  display: flex;
  flex: 3;
  gap: 5px;
  margin-top: 2px;
}

.color-button {
  flex: 1;
}

.color-button-bit-label {
  margin: 0;
  font-size: 10pt;
  text-align: center;
}

.color-palette-box-head-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.color-palette-check-box {
  transform: scale(1.3);
}