#color-section {
    display: flex;
    flex-direction: column;
}

#add-color-palette-button {
    float: right;
}

.color-palette-box {
    background-color: coral;
    height: 60px;
    display: flex;
    flex-direction: column;
}

.color-palette-name {
    flex: 1;
}

.color-palette-grid {
    display: flex;
    flex: 2;
    gap: 5px;
}

.color-button {
    flex: 1;
}