/*
  Class Styles
*/

.lr-centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header-button{
  font-size: 12pt;
}

/*
  ID Styles
*/
#control-head {
  flex: 1;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#trifold-holder {
  display: flex;
  flex-direction: row;
  height: auto;
  flex: 14;
}

#color-section {
  flex: 1;
  background-color: aquamarine;
}

#art-section {
  background-image: url(Transparency.png);
  background-repeat: repeat;
  position: relative;
  flex: 3;
}

#canvas-holder {
  /*Location Styles*/
  position: absolute;
  left: 15px;
  top: 15px;

  /*Size Styles*/
}

#pixel-canvas {
  width: inherit;
  height: inherit;
  background-color: white;
}

#pixel-guide {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid rgba(255, 0, 0, 0.5);
}

#tileset-section {
  flex: 1;
  background-color: darksalmon;
}

#trifold-holder {
  pointer-events: none;
}